<div ng-cloak ng-controller="CourseController">
    <div class="col-md-12">
        <div class="page-header"><h2>My Courses</h2></div>
        <label ng-show="!isCourseAvailable" class="panel-warning">Current Profile has no courses!!</label>
        <div ng-show="isCourseAvailable" class="panel panel-group">
            <div class="panel">
                <div class="col-md-2"><span><strong>CourseId</strong></span></div>
                <div class="col-md-2"><span><strong>Course Name</strong></span></div>
                <div class="col-md-2"><span><strong>Course Duration</strong></span></div>
                <div class="col-md-2"><span><strong>Course Fees</strong></span></div>
                <div class="col-md-2"><span><strong>Enrolled Date</strong></span></div>
                <div class="col-md-2"><span><strong>Course Status</strong></span></div>
                <br>
            </div>
            <div class="panel panel-body panel-primary" ng-repeat="x in course">
                <div class="col-md-2"><span>Course{{x.id}}</span></div>
                <div class="col-md-2"><span>{{x.courseName}}</span></div>
                <div class="col-md-2"><span>{{x.duration}}</span></div>
                <div class="col-md-2"><span>{{x.fees}}</span></div>
                <div class="col-md-2"><span>{{x.enrolledDate | date}}</span></div>
                <div class="col-md-2"><span>{{x.status}}</span></div>
            </div>
        </div>
        <!--<br>-->
        <div class="page-header"><h2>Add Course</h2></div>
        <div class="row">
            <form name="form" ng-submit="addCourse()" role="form">
                <div class="col-lg-4 form-inline">
                    <label>Course Name: </label>
                    <div class="form-group">
                        <select class="form-control" ng-model="crse.courseName">
                            <option value="English">English</option>
                            <option value="Hindi" ng-selected="selected">Hindi</option>
                            <option value="French">French</option>
                            <option value="German">German</option>
                            <option value="Chinese">Chinese</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 form-inline">
                    <label>Duration: </label>
                    <div class="form-group">
                        <select class="form-control" ng-model="crse.duration">
                            <option selected value="7 Days">7 Days</option>
                            <option value="15 Days">15 Days</option>
                            <option value="30 Days">30 Days</option>
                            <option value="45 Days">45 Days</option>
                            <option value="60 Days">60 Days</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 form-inline">
                    <label>Fees: </label>
                    <div class="form-group">
                        <select class="form-control" required name="fees" ng-model="crse.fees">
                            <option value="$ 20">$ 20</option>
                            <option value="$ 50">$ 50</option>
                            <option value="$ 100">$ 100</option>
                            <option value="$ 150">$ 150</option>
                            <option value="$ 150">$ 150</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info"><span class="glyphicn glyphicon-plus"></span>
                </button>
            </form>
        </div>
    </div>
</div>