<link href="rsc/css/login.css" rel="stylesheet">
<link href="rsc/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

<div class="container" ng-controller="LoginController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h1>User Portal</h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div id="container_demo">
            <div id="wrapper">
                <div id="login" ng-show="islogin" class="animate form">
                    <h1>Log In</h1>
                    <form name="form" ng-submit="login()" role="form">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="luserame" class="form-control"
                                   ng-model="user.username" required/>
                            <span ng-show="form.username.$dirty && form.username.$error.required"
                                  class="help-block">Username is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="lpassword" class="form-control"
                                   ng-model="user.password" required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required"
                                  class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a ng-click="islogin = false" class="btn btn-link">Register</a>
                        </div>
                    </form>
                </div>

                <div id="register" ng-show="!islogin" class="animate form">
                    <h1> Sign up </h1>
                    <form name="form" ng-submit="register()" role="form">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                            <label for="username">First name</label>
                            <input type="text" name="firstName" id="firstName" class="form-control"
                                   ng-model="vm.user.firstName" required/>
                            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                            <label for="username">Last name</label>
                            <input type="text" name="lastName" id="Text1" class="form-control"
                                   ng-model="vm.user.lastName" required/>
                            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control"
                                   ng-model="vm.user.username" required/>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   ng-model="vm.user.password" required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                            <a ng-click="islogin = true" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
